{{define "Title"}}About us{{end}}

{{define "main"}}
<div class="aboutpage">


<h1>About Us</h1>
<h3>Welcome to our kineta.site!</h3>
<p>We are dedicated to providing the best user experience.
Kineta.site is an online public directory for people and users to upload and download files.
we will keep on making sure that no user upload the copyrighted material.</p>

<h4>If you see any copyrighted material, please inform us <a href="https://instagram.com/kinetasite">Here</a></h4>
<br><br><br>
<p>the site allows 5 downloads per users . the counter will reset every 12 hours.<br>
this is to make sure site is always accessible</p>

<p>please make sure to activate your account to be able to post files or notes

we are always working to improve our service and provide the best experience for our users. please contact us if you have any questions or feedback.
    or suggestions to make the site better. we are always open to hearing from our users and value your input.</p>

<h3>Thanks! Kineta.site</h3>
</div>
{{end}}