
{{define "searchbar"}} {{end}}

{{define "Title"}} Kineta Site{{end}}

{{define "main"}} 

<div class="abovemain">



<div class="maincontainer">

<div class="category">
    <img id="indicator" class="htmx-indicator" src="./static/img/spinner.gif" alt="Loading..."/>
   <li>
      <a hx-get="/category/cs" hx-target="#postscontainer" hx-swap="innerHTML"
       hx-push-url="true" hx-indicator="#indicator">Computer Science</a>
      <a hx-get="/category/bio"  hx-target="#postscontainer" hx-swap="innerHTML"
       hx-push-url="true" hx-indicator="#indicator">Biology</a>
      <a hx-get="/category/maths"  hx-target="#postscontainer" hx-swap="innerHTML"
       hx-push-url="true" hx-indicator="#indicator">Maths</a>
      <a hx-get="/category/physics"  hx-target="#postscontainer" hx-swap="innerHTML"
       hx-push-url="true" hx-indicator="#indicator">Physics</a>
   </li>
</div>


{{if .Posts}}
<div class="posts" id="postscontainer">
   {{range .Posts}}
   <div class="post">
         <a href="/users/{{.Userid}}"> {{.UserName}}</a> ⭐{{.Rating}}<a href="/posts/{{.Id}}"> <p class="title">{{.TiTle}}</p></a>
      <div class="image">
         {{if .Imageurl}}
            <img src="{{.Imageurl}}" alt="Post Image" class="post-image">
            {{else}}
            <p>NO image url here --- {{.Imageurl}}</p>
            {{end}}
      </div>
       <p class="content">{{.Content}}</p>
   </div>   
      
        {{end}}
    {{else}}
       <p> NO Posts FOUND</p>
       {{end}}
      </div>

      </div>
</div>




{{end}}