{{define "Title"}}Users post{{end}}

{{define "main"}}

{{if .Posts}} 
     
  
     <table>
          <tr><th>
               Title
          </th>
          <th>
               Date
          </th>
     </tr>
{{range .Posts}}
     <tr>
          
          <td class="thtitle"><a href="/posts/{{.Id}}">{{.TiTle}}</a></td>
          <td>{{humandate .Createdat}}</td>
     </tr>
            
     {{end}}
     
     {{else}}
     <p> NO posts from user</p>
     {{end}}
          
     </table>
  


{{end}}